#semForm, #courseForm, #coursesList{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    line-height: 2;
    background: var(--secondary-color);
    min-width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1rem 1.5rem;

    box-shadow: 8px 10px 37px -12px rgba(0,0,0,0.62);
    -webkit-box-shadow: 8px 10px 37px -12px rgba(0,0,0,0.62);
    -moz-box-shadow: 8px 10px 37px -12px rgba(0,0,0,0.62);
}

#courseForm, #coursesList{
    min-width: 50%;
    max-height: 90%;
    overflow-y: auto;
}

#coursesList{
    overflow-y: none;
}

tr{
    background-color: var(--primary-color);
    border: none;
}

td{
    margin-bottom: 200px;
    padding: 10px;
    text-align: left;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
}

table {
    border-spacing: 10px;
    width: 100%;
    overflow-y: auto; 
}

.selected{
    background-color: #4a4f52;
}

#buttons_container{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.formBtn{
    background: var(--tertiary-color);
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.15s ease-in;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.formBtn:hover{
    background: #5d45bd;
}

.formBtn:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}

#save_btn:hover{
    background: #5d45bd;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

/* ============================================= */
.field_containers input{
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    margin-bottom: 15px;
    width: 100%;
}  

.input-label{
    font-size: 18px;
    font-weight: 500;
    
}


.sem_container, .level_container {
    display: flex;
    align-items: center;
}

.sem_container input[type="radio"], .level_container input[type="checkbox"] {
    margin-right: 5px;
}

.sem_container label[for="semester"], .level_container label[for="level"] {
    margin-right: 20px; 
}

#semForm input{
    background-color: var(--primary-color);
    color: white;
}

#semForm{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}



#table_container {
    overflow-x: auto; 
    height: 400px;
}

.saveSemesterBtn{
    width: 100%;
    margin-top: 20px;
}

#courseForm{
    margin-top: 20px;
    overflow-y: auto;
}

#courseForm input{
    background: var(--primary-color);
    color: white;
}

#courseForm #save_btn{
    width: 100%;
    margin-top: 20px;

}


  /* media queries */
@media screen and (min-width: 480px){
    h2{
        font-size: 34px;
    }
}

@media screen and (min-width: 900px){
    .formBtn{
        font-size: 18px;
    }
}

.tableBtn{
    background: var(--tertiary-color);
    color: white;
    padding: 10px;
}

.clashTable td{
    text-align: center;
}

.search-section, .clashTable{
    padding: 2%;
}
