.mainContent{
    padding: 1rem 1.5rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.mainTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.mainTitle h1{
    font-size: 30px;
}

.btnContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

#add_assessment_btn{
    font-size: 14px;
    color: white;
    background: var(--tertiary-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.15s ease-in;
    text-decoration: none;
}
#add_assessment_btn:hover{ 
    background-color: #5d45bd;
}


#filterDropdownAssessments{
    width: 100%;
    background: var(--secondary-color);
    border: none;
    padding: 0.6rem 0.8rem;
    color: white;
    border-radius: 6px;
    border: rgb(70, 70, 70) 1px solid;
    cursor: pointer;
}


/* card styles */
.card{
    background-color: var(--secondary-color);
    width: 100%;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;  
    max-width: 300px;
}

.card-label{
    padding-top: 10px;
    font-weight: bold;
}

.card button{
    margin-top: 20px;
}

button{
    background: var(--tertiary-color);
    color: white;
    border: none;
    padding: 0.4rem 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.15s ease-in;
    font-size: 14px;
    min-width: 80px;
}

button:hover{
    background: #5d45bd;
}

.delete_btn{
    background: var(--secondary-color);
    border: rgb(70, 70, 70) 1px solid;
}

.delete_btn:hover{
    background: var(--primary-color);
}

.actions{
    display: flex;
    justify-content: space-between;
}

#card_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    justify-items: center;

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@media screen and (min-width: 768px){
    .mainTitle{
        flex-direction: row;
        margin-top: 30px;
    }

    .btnContainer{
        margin-top: 0;
    }
}
@media screen and (min-width: 1024px){
    .mainTitle{
        margin-top: 50px;
    }

}
@media screen and (min-width: 1080px){
    .mainTitle h1{
        font-size: 30px;
    }

}