{% extends "layout.html" %}

{% block title %}My Assessments{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/assessments.css">
{% endblock %}

{% block content %}
<!--this dropdown will display the courses associated to this lecturer -->
    <div class="mainContent">
        <div class="mainTitle">
            <h1>My Assessments</h1>
            <div class="btnContainer">
                <a href="/addAssessment" id="add_assessment_btn">Add Assessment</a>
                <div class="filterContainer">
                    <select id="filterDropdownAssessments"> 
                        <option value="all">All</option>
                        {% for course in courses %}
                        <option value="{{course}}">{{course}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>


        
        <div id="card_container"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      var assessments={{ assessments | tojson() }};
    </script>
    <script src="../static/js/assessments.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const filterDropdown = document.getElementById('filterDropdownAssessments');
            const cards = document.querySelectorAll('.card');
          
            filterDropdown.addEventListener('change', function() {
              const selectedValue = filterDropdown.value;
          
              cards.forEach(card => {
                const courseCode = card.dataset.courseCode;
                if (selectedValue === 'all' || courseCode === selectedValue) {
                  card.style.display = 'block';
                } else {
                  card.style.display = 'none';
                }
              });
            });
          });
    </script>

{% endblock %}