{% extends "adminLayout.html" %}

{% block title %}Clashes{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/admin1.css">
{% endblock %}

{% block content %}
<table class="clashTable">
    <thead>
        <tr>
            <th>Assessment ID</th>
            <th>Course</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for a in assessments%}
            <tr>
                <td>{{a.id}}</td>
                <td>{{a.courseCode}}</td>
                <td>{{a.startDate}}</td>
                <td>{{a.endDate}}</td>
                <td>
                    <form action="/acceptOverride/{{ a.id }}" method="POST" style="display: inline-block;">
                        <button type="submit" class="tableBtn">Accept</button>
                    </form>
                    <form action="/rejectOverride/{{ a.id }}" method="POST" style="display: inline-block;">
                        <button type="submit" class="tableBtn">Reject</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}
