{% extends "adminLayout.html" %}

{% block title %}Clashes{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/admin1.css">
{% endblock %}

{% block content %}
<table class="clashTable">
    <div class="search-section">
        <form action="/clashes" method="GET">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start_date">
            
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end_date">
            
            <button type="submit" class="tableBtn">Search</button>
        </form>
        <div class="search-results">
            {% for result in results %}
            <p>{{ result.courseCode }}&emsp;&emsp;&emsp;&emsp;Start: {{ result.startDate }}&emsp;{{ result.startTime }}&emsp;&emsp;&emsp;&emsp;End: {{ result.endDate }}&emsp;{{ result.endTime }}</p>
            {% endfor %}
        
        </div>
    </div>
    
    <thead>
        <tr>
            <th>Assessment ID</th>
            <th>Course</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for a in assessments%}
            <tr>
                <td>{{a.id}}</td>
                <td>{{a.courseCode}}</td>
                <td>{{a.startDate}}</td>
                <td>{{a.endDate}}</td>
                <td>
                    <form action="/acceptOverride/{{ a.id }}" method="POST" style="display: inline-block;">
                        <button type="submit" class="tableBtn">Accept</button>
                    </form>
                    <form action="/rejectOverride/{{ a.id }}" method="POST" style="display: inline-block;">
                        <button type="submit" class="tableBtn">Reject</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}
