{% extends "adminLayout.html" %}

{% block title %}Courses{% endblock %}

{% block head %}    
<link rel="stylesheet" href="../static/css/admin1.css">
{% endblock %}

{% block content %}
<div id="coursesList">
    <h2>List of Courses</h2>
    <div id="table_container">
      <table id="courseTable">
        <tbody id="courseTableBody"></tbody>
      </table>
    </div>
    
    <div id="buttons_container">
        <button id="add_course" class="formBtn"  type="submit">Add Course</button>
        <button id="update_course" class="formBtn" type="submit">Update Course</button>
        <button id="delete_course" class="formBtn" type="submit">Delete Course</button>
    </div>
</div>
    
<script>
  let selectedRow = null;

  window.onload = function() {
    const tableBody = document.getElementById("courseTableBody");
    tableBody.innerHTML = "";

    fetch('/get_courses') // Replace with your endpoint URL
      .then(response => response.json())
      .then(data => {
        courses = data;  // Store fetched courses
        const tableBody = document.getElementById("courseTableBody");
        tableBody.innerHTML = "";
        console.log(courses)
        for (const course of courses) {
          const row = document.createElement("tr");
          const cell = document.createElement("td");
          cell.textContent = course;
          row.appendChild(cell);
          tableBody.appendChild(row);


          row.addEventListener("click", function() {
          if (selectedRow) {
            selectedRow.classList.remove("selected"); // Deselect previous row
          }
          selectedRow = this;
          var course=this.firstChild.textContent;
          this.classList.add("selected"); // Select current row
          });
        }
      })
      .catch(error => console.error(error));
  };
    
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="../static/js/mobileMenu.js"></script>

{% endblock %}