<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/main.css">
    {% block head %}{% endblock %}
</head>
<body>
    <nav id="layout_nav">
        <div class="main_nav_wrapper">
            <div class="logo_container">
                <a href="">FST Assessment Scheduler</a>
            </div>
            

            <div class="links_container">
                <ul id="layout_nav_links">
                    <!-- <li><a class="chat_nav_link nav_link" href="#">Chat</a></li> -->
                    <li><a class="myAssessments_nav_link nav_link" href="/assessments">Assessments</a></li>
                    <li><a class="calendar_nav_link nav_link" href="/calendar">Calendar</a></li>
                    <li><a class="myAccount_nav_link nav_link" href="/account">Account</a></li>
                    <li><a class="setting_nav_link nav_link" href="/settings">Settings</a></li>
                    <!-- <li><a class="notification_nav_link nav_link" href="#">Notifications</a></li> -->
                    <li><a class="logout_nav_link" href="/logout">Logout</a></li>
                </ul>
            </div>

            <div class="links_container_mobile">
                <ul id="layout_nav_links_mobile">
                    <!-- <li><a class="chat_nav_link mobile_links" href="#">Chat</a></li> -->
                    <li><a class="myAssessments_nav_link mobile_links" href="/assessments">Assessments</a></li>
                    <li><a class="calendar_nav_link mobile_links" href="/calendar">Calendar</a></li>
                    <li><a class="myAccount_nav_link mobile_links" href="/account">Account</a></li>
                    <li><a class="settings_nav_link mobile_links" href="/settings">Settings</a></li>
                    <!-- <li><a class="notification_nav_link mobile_links" href="#">Notifications</a></li> -->
                    <li class="logout_mobile_container"><a class="logout_nav_link mobile_links" href="/logout">Logout</a></li>
                </ul>
                <div class="exit">
                    <img src="../static/images/exit-btn.svg" alt="">
                </div>
            </div>


            <div class="burger">
                <img src="../static/images/burgermenu.svg" alt="">
            </div>
        </div>
    </nav>
    <div>
        {% for message in messages %}
            <div class="flash-message" id="flashMsg">
                <span class="msgContainer">{{ message }}</span>
                <button class="close-btn" onclick="this.parentElement.style.display = 'none';">×</button>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
    
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="../static/js/mobileMenu.js"></script>
<script>

    setTimeout(function() {
            var flashMessages = document.getElementById('flashMsg');
            if (flashMessages) {
                flashMessages.classList.add('hiddenFlashMsg');
            }
        }, 1500);
</script>
</html>