<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Assessment Scheduler</title>
</head>
<body>
    <form id="registrationForm">
        <h1>Sign Up</h1>
        <div>
            <label for="firstName" class="input-label">First Name</label><br>
            <input type="text" id="firstName">
        </div>
        <div>
            <label for="lastName" class="input-label">Last Name</label><br>
            <input type="text" id="lastName">
        </div>
        <div>
            <label for="email" class="input-label">Email</label><br>
            <input type="text" id="email">
        </div>
        <div>
            <label for="password" class="input-label">Password</label><br>
            <div id="passwordContainer">
                <input type="password" id="password">
                <!-- <label id="togglePassword"></label> -->
                <i id="togglePassword" class="material-icons">visibility</i>
            </div>
            
        </div>
 
        <button id="register_btn">Sign Up</button>
    </form>

    <script>
        const button = document.getElementById('register_btn');

        button.addEventListener('click', function() {
            event.preventDefault(); 

            let name=document.getElementById('firstName').value;
            fetch('/register', {
                method: 'POST',
                body: JSON.stringify({}) // Optionally include data in the request body
            })
            .then(response => {
                if (response.ok) {
                    // Handle successful response
                    console.log('Request successful!');
                } else {
                    // Handle error response
                    console.error('Request failed.');
                }
            })
            .catch(error => {
                // Handle network errors
                console.error('Error:', error);
            });
        });

        document.getElementById("togglePassword").addEventListener("click", function() {
        var passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            this.textContent = "visibility_off";
        } else {
            passwordInput.type = "password";
            this.textContent = "visibility";
        }
        });

    </script>
    
</body>
</html>
