<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Assessment Scheduler | Register</title>
    <!-- global css file -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/signup.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <!-- {% if message %}
        <p> {{ message }} </p>
    {% endif %} -->
    
    <form id="registrationForm" action="/register" method="POST">
        <h1>Register</h1>
        <div class="field_containers">
            <label for="firstName" class="input-label">First Name</label><br>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="field_containers">
            <label for="lastName" class="input-label">Last Name</label><br>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="field_containers">
            <label for="staffID" class="input-label">Staff ID</label><br>
            <input type="number" id="staffID" name="staffID" min="10000000" max="99999999" required>
        </div>

        <div>
            <label for="dropdown">Status</label><br>
            <select id="dropdown" name="status">
                <option value="Lecturer 1">Lecturer 1</option>
                <option value="Lecturer 2">Lecturer 2</option>
                <option value="Lecturer 3">Lecturer 3</option>
                <option value="Part Time Lecturer 1">Part Time Lecturer 1</option>
                <option value="Part Time Lecturer 2">Part Time Lecturer 2</option>
                <option value="Part Time Lecturer 3">Part Time Lecturer 3</option>
                <option value="Instructor 1">Instructor 1</option>
                <option value="Instructor 2">Instructor 2</option>
                <option value="Instructor 3">Instructor 3</option>
                <option value="Teaching Assistant">Teaching Assistant</option>
                <option value="Tutor">Tutor</option>
                <option value="Part Time Tutor">Part Time Tutor</option>
                <option value="Head of Department">Head of Department</option>
            </select>
        </div>
        <div class="field_containers">
            <label for="email" class="input-label">Email</label><br>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="field_containers">
            <label for="password" class="input-label">Password</label><br>
            <div id="passwordContainer">
                <input type="password" id="password" name="password" required>
                <!-- <label id="togglePassword"></label> -->
                <!-- <i id="togglePassword" class="material-icons">visibility</i> -->
            </div>
        </div>
 
        <button id="register_btn" type="submit">Sign Up</button>

        <p class="haveAnAccount">Already have an account? <a href="/login">Login</a></p>
    </form>

    
</body>
</html>
