{% extends "adminLayout.html" %}

{% block title %}Update Course{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/admin1.css">
{% endblock %}

{% block content %}

<form id="courseForm" action="/updateCourse" method="POST">
    <h2>Update Course</h2>   
    <div class="field_containers">
        <label for="code" class="input-label">Course Code</label>
        <input type="text" id="code" name="code" readonly/>
    </div>
    <div class="field_containers">
        <label for="title" class="input-label">Title</label>
        <input type="text" id="title" name="title" readonly/>
    </div>
    <div class="field_containers">
        <label for="description" class="input-label">Description</label>
        <input type="textarea" name="description" id="description">
    </div>
    <div class="level_container">
        <label for="level" class="input-label">Level</label>
        <input type="radio" id="radio_btns" name="level" value="1">
        <label for="level">1</label>
        <input type="radio" id="radio_btns" name="level" value="2">
        <label for="level">2</label>
        <input type="radio" id="radio_btns" name="level" value="3">
        <label for="level">3</label>
    </div>
    <div class="sem_container">
        <label for="semester" class="input-label">Semester</label>
        <input type="checkbox" name="semester" value="1">
        <label for="semester">1</label>
        <input type="checkbox" name="semester" value="2">
        <label for="semester">2</label>
        <input type="checkbox" name="semester" value="3">
        <label for="semester">3</label>
    </div>
    <div class="field_containers">
        <label for="assessment" class="input-label">Number of Assessments</label>
        <input type="number" id="assessment" name="assessment">
    </div>
    <div class="field_containers">
        <label for="programme" class="input-label">Programmes</label>
        <input type="text" id="programme" name="programme">
    </div>
    <button id="save_btn" class="formBtn" type="submit">Save</button>
</form>

{% endblock %}