<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/uploadFiles.css">
</head>
<body>
    <nav id="layout_nav">
        <div class="main_nav_wrapper">
            <div class="logo_container">
                <a href="">FST Assessment Scheduler</a>
            </div>
            

            <div class="links_container">
                <ul id="layout_nav_links">
                    <li><a class="chat_nav_link nav_link" href="#">Courses</a></li>
                    <li><a class="myAssessments_nav_link nav_link" href="#">Upload Files</a></li>
                    <li><a class="calendar_nav_link nav_link" href="#">Semester</a></li>
                    <li><a class="logout_nav_link" href="#">Logout</a></li>
                </ul>
            </div>

            <div class="links_container_mobile">
                <ul id="layout_nav_links_mobile">
                    <li><a class="chat_nav_link mobile_links" href="#">Courses</a></li>
                    <li><a class="myAssessments_nav_link mobile_links" href="#">Upload Files</a></li>
                    <li><a class="calendar_nav_link mobile_links" href="#">Semester</a></li>
                    <li class="logout_mobile_container"><a class="logout_nav_link mobile_links" href="#">Logout</a></li>
                </ul>
                <div class="exit">
                    <img src="../static/images/exit-btn.svg" alt="">
                </div>
            </div>


            <div class="burger">
                <img src="../static/images/burgermenu.svg" alt="">
            </div>
        </div>
    </nav>

    <!-- form body -->
    <div class="formContainer">
        <form method="POST" id="uploadForm">
            <div class="uploadFormSection" id="uploadCourseSection">
                <h2>Upload Courses</h1>
                <input type="file" name="courses_file" id="fileCourseInput">
                <input class="submitButton" type="submit" name="uploadCoursesBtn" value="Upload" onclick="submitForm('uploadCoursesBtn')">
            </div>
            <hr id="formSeparator">
            <div class="uploadFormSection" id="uploadProgrammeSection">
                <h2>Upload Programmes</h1>
                <input type="file" name="programmes_file" id="fileProgrammeInput">
                <input class="submitButton" type="submit" name="uploadProgrammeBtn" value="Upload" onclick="submitForm('uploadProgrammeBtn')">
            </div>
            
            <!-- <button id="submitButton" type="submit">Upload</button> -->
        </form>
        <p id="message"></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="../static/js/mobileMenu.js"></script>

    <script>
        function submitForm(buttonName){
            const form = document.getElementById("uploadForm");
            const message = document.getElementById('message');

            if (buttonName === "uploadCoursesBtn"){
                //stuff for that

                form.addEventListener('submit', function(event){
                    event.preventDefault();
                    const courseInput = document.getElementById("fileCourseInput");
                    const file = fileInput.files[0]

                    if(file){
                        const formData = new formData();
                        formData.append('file', file)
                        formData.append('test1', 'Course Upload')
                        message.style.display = 'block';

                        fetch('/upload',{
                            method: 'POST',
                            body: formData
                        })
                        //all the extra bits for message
                    }
                });

            } else if (buttonName === "uploadProgrammeBtn"){
                //stuff for that
                form.addEventListener('submit', function(event){
                    event.preventDefault();
                    const courseInput = document.getElementById("fileProgrammeInput");
                    const file = fileInput.files[0]

                    if(file){
                        const formData = new formData();
                        formData.append('file', file)
                        formData.append('test1', 'Programme Upload')
                        message.style.display = 'block';

                        fetch('/upload',{
                            method: 'POST',
                            body: formData
                        })
                        //all extra stuff for message
                    }
                });
            } setTimeout(function(){
                message.textContent = '';
                message.style.display = 'none';
            }, 3000);

        }
    </script>

<!-- 

    ################## test html code ##################
    <form method="POST" enctype="multipart/form-data" id="uploadForm">
        <input type="file" name="file" id="fileInput">
        <input class="submitButton" type="submit" name="uploadCoursesBtn" value="Upload" onclick="submitForm('uploadCoursesBtn')">




        <input type="file" name="file1" id="fileInput1">
        <input class="submitButton" type="submit" name="uploadProgrammeBtn" value="Upload" onclick="submitForm('uploadProgrammeBtn')">
    </form>

    <p id="message"></p>


    ################## JS code ##################
<script>
        function submitForm(buttonName){
            const form = document.getElementById("uploadForm");
            const message = document.getElementById('message');
            

            if (buttonName === "uploadCoursesBtn"){
                //stuff for that

                form.addEventListener('submit', function(event){
                    event.preventDefault();
                    const courseInput = document.getElementById("fileInput");
                    const file = courseInput.files[0]

                    if (file) {
                    const formData = new FormData();
                    formData.append('file', file);
                    formData.append('test1', 'CourseUpload')
                    message.style.display = 'block';
                    fetch('/upload', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.text())
                    .then(data => {
                        message.textContent = data;
                    })
                    .catch(error => {
                        console.error(error);
                        message.textContent = "An error occurred during upload.";
                    });
                    } else {
                        message.textContent = "Please select a file to upload.";
                    }
                });
            } else if (buttonName === "uploadProgrammeBtn"){
                //stuff for that

                form.addEventListener('submit', function(event){
                    event.preventDefault();
                    const courseInput1 = document.getElementById("fileInput1");
                    const file1 = courseInput1.files[0]

                    if (file1) {
                    const formData = new FormData();
                    formData.append('file', file1);
                    formData.append('test1', 'ProgrammeUpload')
                    message.style.display = 'block';
                    fetch('/upload', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.text())
                    .then(data => {
                        message.textContent = data;
                    })
                    .catch(error => {
                        console.error(error);
                        message.textContent = "An error occurred during upload.";
                    });
                    } else {
                        message.textContent = "Please select a file to upload.";
                    }
                });
                

                
            } setTimeout(function(){
                message.textContent = '';
                message.style.display = 'none';
            }, 3000);
        }
    </script>




    ################## Pythong route code ##################
@app.route('/upload', methods=['POST'])
def upload_file():

    form_data = request.form
    if request.method == 'POST':
        # Check if file is present
        if 'file' not in request.files:
            return 'No file selected!'

        file = request.files['file']
        test = form_data.get('test1')
        print(f'Test: {test}')
        # Check if file name is present
        if file.filename == '':
            return 'No selected file!'

        # Secure filename
        filename = secure_filename(file.filename)

        # Save file to upload folder
        filepath = os.path.join(app.config['UPLOAD_FOLDER'], filename)
        file.save(filepath)

        return f'File for {test} uploaded successfully'


 -->


</body>
</html>